[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dongyangdaozi
[access "refs/for/refs/*"]
	read = group user/dongyangdaozi
	push = group user/dongyangdaozi
	label-Code-Review = -2..+2 group user/dongyangdaozi
	label-Verified = -1..+1 group user/dongyangdaozi
	rebase = group user/dongyangdaozi
	removeReviewer = group user/dongyangdaozi
	submit = group user/dongyangdaozi
[access "refs/heads/*"]
	read = group user/dongyangdaozi
	create = group user/dongyangdaozi
	push = +force group user/dongyangdaozi
	pushMerge = group user/dongyangdaozi
[access "refs/tags/*"]
	push = group user/dongyangdaozi
	push = +force group user/dongyangdaozi
